@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-sp-black text-white;
  font-family: "Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-sp-hover rounded-full;
}
